<!doctype html>
<meta charset="utf-8">
<title>{% block title %}Welcome{% endblock %} — National Day of Civic Hacking</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="#9b20dc">
<meta name="og:title" content="#NDoCH | National Day of Civic Hacking 2017">
<meta name="og:description" content="A nationwide day of action for volunteers around the country to put technology to work for the benefit of our local communities.">
<meta name="og:image" content="http://ndoch.org/images/og-banner.png">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@civichackingday">
<meta name="twitter:creator" content="@civichackingday">
<meta name="twitter:title" content="#NDoCH | National Day of Civic Hacking 2017">
<meta name="twitter:description" content="A nationwide day of action for volunteers around the country to put technology to work for the benefit of our local communities.">
<meta name="twitter:image" content="http://ndoch.org/images/og-banner.png">
<link rel="shortcut icon" href="favicon.ico">
<link rel="icon" type="image/png" href="images/android-chrome-192.png" sizes=192x192>
<link rel="icon" href="images/favicon-16.png" sizes="16x16">
<link rel="icon" href="images/favicon-32.png" sizes="32x32">
<link rel="icon" href="images/favicon-96.png" sizes="96x96">
<link rel="apple-touch-icon" href="images/favicon-57.png">
<link rel="apple-touch-icon" sizes="76x76" href="images/favicon-76.png">
<link rel="apple-touch-icon" sizes="120x120" href="images/favicon-120.png">
<link rel="apple-touch-icon" sizes="152x152" href="images/favicon-152.png">
<link rel="apple-touch-icon" sizes="180x180" href="images/favicon-180.png">
<meta name="msapplication-square70x70logo" content="images/smalltile.png">
<meta name="msapplication-square150x150logo" content="images/mediumtile.png">
<meta name="msapplication-wide310x150logo" content="images/widetile.png">
<meta name="msapplication-square310x310logo" content="images/largetile.png">
<link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700" rel="stylesheet">
<link rel="stylesheet" href="{{ '/css/style.css'|url }}">
<link href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.32.1/mapbox-gl.css" rel="stylesheet" />
<body class="{{ this._model }}">

  {% block body %}{% endblock %}

  <footer class="site-footer">
    <div>
      <span>
        {{ bag('global-content', this.alt).footer | markdown }}
      </span>

    </div>
  </footer>
  {% include 'includes/icons.svg' %}

  <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
  <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.32.1/mapbox-gl.js"></script>
  <script src="{{ '/js/map.js'|url }}"></script>
  <script src="{{ '/js/plugins.js'|url }}"></script>
  <script src="{{ '/js/main.js'|url }}"></script>

  {% if this.language %}
  {% set current_language = this.language %}
  {% else %}
  {% set current_language = "en" %}
  {% endif %}
  <script type="text/javascript">
    // menus used on small screens
    $(function(){
      $('#nav').slicknav({
        'prependTo': '.main-nav > div > div',
        'label' : '{{ bag('global-content', this.alt).menu_label }}'
      });
    });
    $(function(){
      $('#lang').slicknav({
        'prependTo': '.main-nav > div > div',
        'label' : '{{ current_language |replace("_", " ") }}',
      });
    });

    // analytics
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-33874954-12']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</body>
